<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Star wars fan page</title>
    <link rel="stylesheet" href="./css/about.css">
</head>

<body>
    </section>
    <section id="fun_facts">
        <h3>Some fun facts</h3>
        <li>
            <ol>R2-D2 once spoke English, and was kind of a jerk.</ol>
            <ol>The original Return of the Jedi ending saw Luke Skywalker turn evil.</ol>
            <ol>Yoda was almost a monkey.</ol>
            <ol>Carrie Fisher slapped Oscar Isaac more than 40 times…on the first day of shooting.</ol>
            <ol>Samuel L. Jackson had his lightsaber engraved with a bad word.</ol>
            <ol>The original Darth Vader is banned from all Star Wars events.</ol>
            <ol>The first Star Wars almost caused an actual war.</ol>
            <ol>Chewbacca had to be protected from bear hunters.</ol>
            <ol>Chewbacca's voice is a mixture of badger, lion, seal, and walrus.</ol>
            <ol>Princess Leia was almost played by a sitcom star.</ol>
            <ol>Darth Vader was almost a very famous actor.</ol>
            <ol>Yoda's original name was Buffy.</ol>
        </li>
        <h4>Hope you like those fun facts!</h4>
    </section>
</body>

</html>