<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Star Wars fan page</title>
    <link rel="stylesheet" href="./css/home.css">
</head>

<body>
    <section id="title">
        <h1>STAR WARS FAN PAGE</h1>
    </section>
    <section id="facts">
        <h2>Here you can find a lot of important information and fun facts about this empire!</h2>
    </section>
    <section id="links">
        <a href="./about">About</a>
        <a href="./movies">Movies</a>
    </section>
</body>

</html>