<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Star Wars fan page</title>
    <link rel="stylesheet" href="./css/movies.css">
</head>

<body>
    <section id="main">
        <h3>Movies Timeline</h3>
        <li>
            <ol>Episode I: The Phantom Menace (1999)</ol>
            <ol>Episode II: Attack of the Clones (2002)</ol>
            <ol>Star Wars: The Clone Wars (2008)</ol>
            <ol>Episode III: Revenge of the Sith (2005)</ol>
            <ol>Solo: A Star Wars Story (2018)</ol>
            <ol>Rogue One (2016)</ol>
            <ol>Episode IV: A New Hope (1977)</ol>
            <ol>Episode V: The Empire Strikes Back (1980)</ol>
            <ol>Episode VI: Return of the Jedi (1983)</ol>
            <ol>Episode VII: The Force Awakens (2015)</ol>
            <ol>Episode VIII: The Last Jedi (2017)</ol>
            <ol>Episode IX: The Rise of Skywalker (2019)</ol>
        </li>
        <h4>This is how we can fully understand the universe!</h4>
</body>

</html>